head
    title Pedidos da Pizzaria
body
    h1#id Últimos pedidos

    ul
        for pedido in pedidos                  
                li= "pizza: " + pedido.pizza + " - quantidade: " + pedido.quantidade + " - enredeço: " + pedido.endereco
